<table>
  <tr>
    <td>Fighter1</td>
    <td>Fighter2</td>
    <td>Won</td>
    <td></td>
  </tr>
  <tr *for="#fight of fights" id="{{fight.id}}">
    <td>{{fight.fighter1}}</td>
    <td>{{fight.fighter2}}</td>
    <td>{{fight.won}}</td>
    <td><button (click)="deleteFight(fight.id)">Remove</button></td>
  </tr>
</table>

<div>
  <p><input #fighter1 placeholder="Fighter 1"></p>
  <p><input #fighter2 placeholder="Fighter 2"></p>
  <p><input type="number" #won placeholder="Won"></p>
  <button (click)="addFight(fighter1.value, fighter2.value, won.value)">Add fighter</button>
</div>
